.stories.intro
	h2 Every member's story is different.
	h2 What's yours?
	a.btn(href="/#/new") Inspire Others With Your Story
.stories
	.story(ng-repeat="story in stories")
		h3.title 
			a(ng-href="{{ '/#/story/' + story._id }}") {{ story.title }}
		p.blurb {{ story.content.substr(0,125) + "..." }}
		.author
			p.name {{ story.name }}
			p.location {{ story.chapter + ", " + story.state }}
