.stories
	.story(ng-repeat="story in data")
		.meta
			h1.title(ng-bind='story.storytitle') Loading...
			p.name(ng-bind='story.name') Loading...
			p.chapter(ng-bind='story.chapter') Loading...
			p.state(ng-bind='story.state')
		.content
			p(ng-bind='story.story') Loading...
	
