doctype 5
html
	head
		title I Am DECA - DECA Stories
		// Dependencies
		script(src="/lib/angular/angular.min.js")
		script(src="/lib/angular-ui-router/release/angular-ui-router.min.js")
		script(src="/lib/snapjs/snap.min.js")
		script(src="/lib/angular-snap/angular-snap.min.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
			
			ga('create', 'UA-50513411-1', 'iamdeca.com');
			ga('send', 'pageview');
		link(rel="stylesheet", type="text/css", href="/lib/angular-snap/angular-snap.min.css")
		link(rel="stylesheet", type="text/css", href="/lib/ionicons/css/ionicons.min.css")
		// Custom
		meta(name="viewport", content="initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/main.css")
		script(src="/ctrl.js")
	body(ng-app="decaStories", ng-controller="mainCtrl")
		div(snap-drawer)
			ul.states
				li.home
					a(href="/#/") 
						i.icon.ion-home
						| Home
				li.newl
					a(href="/#/new")
						i.icon.ion-plus-circled
						| Create Story
				li.state(ng-repeat="state in states")
					a(ng-href="{{ '/#/state/' + state.abbreviation }}") {{ state.name }}
		div(snap-content)
			header
				i.icon.ion-navicon-round
				h1
					span.iam I Am 
					span.deca DECA
			!= yield
			
