doctype 5
html
	head
		title DECA Stories
		link(href="main.css", rel="stylesheet", type="text/css")
		// JS Dependencies
		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		script(src="bower_components/tabletop/src/tabletop.js")
		script(src="ctrl.js")
	body(ng-app="decaStories")
		header
			h1 DECA Stories
			nav
				a(href="#/") Home
				a(href="#/submit") Submit
		.container
			!= yield
		footer
			h3
				| Made by 
				a(href="http://bobtheasian.com") @bobtheasian 
				| and 
				a(href="http://krrishd.github.io") @krrishd
