@import "//fonts.googleapis.com/css?family=Montserrat";
@import "//fonts.googleapis.com/css?family=Lato";
@import "//krrishd.github.io/some-css/some.css";

body {
	font-family: Lato, sans-serif;
	font-weight: 300;
	padding-top: 85px;
	padding-bottom: 70px;
	background: #ecf0f1;
	h1, h2, h3 {
		font-family: Montserrat;
		font-weight: 700;
		text-transform: uppercase;
	}
}

header {
	background: #05559c;
	position: fixed;
	top: 0px;
	width: 100%;
	margin-left: -50%;
	left: 50%;
	padding: 5px 20px;
	color: #fff;
	border-bottom: 3px solid rgba(0,0,0,.2);
	h1 {
		display: inline-block;
	}
	nav {
		display: inline-block;
		position: fixed;
		right: 15px;
		top: 35px;
		a {
			color: inherit;
			text-decoration: none;
			margin: 10px;
		}	
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-left: -50%;
	left: 50%;
	background: #05559c;
	color: #fff;
	a {
		color: inherit;
		text-decoration:none;
		padding-bottom: 3px;
		border-bottom: 2px solid rgba(0,0,0,.5);
	}
}

form {
	max-width: 800px;
	margin: auto;
	text-align: center;
	input[type="text"] {
		display: block;
		padding: 10px 20px;
		width: 70%;
		min-width: 200px;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 3px;
		font-family: inherit;
		margin: 10px auto;
	}
	textarea {
		width: 70%;
		min-width: 200px;
		min-height: 150px;
		border: 1px solid rgba(0,0,0,.2);
		padding: 10px 20px;
		border-radius: 3px;
		font-family: inherit;
		color: rgba(0,0,0,.4);
	}
	.btn {
		-webkit-appearance: none;
		display:block;
		width: 50%;
		margin: 10px auto;
	}
}

.stories {
	margin: auto;
	width: 80%;
}

.story {
  //display: inline-block;
	max-width: 75%;
	min-height: 300px;
	vertical-align: top;
	padding: 10px 20px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.2);
	margin: 10px auto;
	.meta {
		padding: 15px 0px;
		//border-bottom: 2px solid rgba(0,0,0,.2);
		.name, .chapter, .state {
			margin-bottom: -10px;
		}
	}
}
